<?xml version="1.0" encoding="iso-8859-1"?>
<UpcomingEvents>
<Event>
<EventID>130</EventID>
<StartDate>22 March, 2013</StartDate>
<StartTime>00:00</StartTime>
<EndDate>22 March, 2013</EndDate>
<EndTime>00:00</EndTime>
<EventTitle><![CDATA[The Music of Thistle]]></EventTitle>
<EventLocation><![CDATA[Quarry Park Heritage Arts Centre]]></EventLocation>
<EventDescription><![CDATA[One of Canada''s favorite showbands 
March 22, 2013
7:00 p.m.
Tickets: $15.00

For more information:
204-467-7980
]]></EventDescription>
</Event>
<Event>
<EventID>135</EventID>
<StartDate>04 April, 2013</StartDate>
<StartTime>17:30</StartTime>
<EndDate>04 April, 2013</EndDate>
<EndTime>21:00</EndTime>
<EventTitle><![CDATA[The Heart Truth ''I Heart Shoes'' Auction]]></EventTitle>
<EventLocation><![CDATA[Delta Winnipeg]]></EventLocation>
<EventDescription><![CDATA[Heart disease and stroke is a leading killer of women in Canada. Take a step towards eliminating cardiovascular disease — attend the Heart and Stroke Foundation''s ''I Heart Shoes'' Auction presented by Investors Group. Enjoy a shoe fashion show, refreshments and the choice of hundreds of shoes up for auction on Thursday, April 4 at the Delta Winnipeg. Doors open at 5:30 p.m. Tickets are $50 and can be purchased online at LiveRed.mb.ca/HeartTruth or by calling 204-949-2019.]]></EventDescription>
</Event>
<Event>
<EventID>134</EventID>
<StartDate>08 April, 2013</StartDate>
<StartTime>19:00</StartTime>
<EndDate>08 April, 2013</EndDate>
<EndTime>20:00</EndTime>
<EventTitle><![CDATA[Age Friendly Community Meeting]]></EventTitle>
<EventLocation><![CDATA[Stonewall Quarry Park Heritage Arts Centre]]></EventLocation>
<EventDescription><![CDATA[Age Friendly Stonewall / RM Rockwood - Community Meeting

Monday April 8th, 2013
7-8 pm

Heritage Arts Centre - Auditorium
]]></EventDescription>
</Event>
<Event>
<EventID>115</EventID>
<StartDate>02 May, 2013</StartDate>
<StartTime>00:00</StartTime>
<EndDate>05 May, 2013</EndDate>
<EndTime>00:00</EndTime>
<EventTitle><![CDATA[Quarry Choristers Dinner Theatre]]></EventTitle>
<EventLocation><![CDATA[Quarry Park Heritage Arts Centre, Stonewall]]></EventLocation>
<EventDescription><![CDATA[Annual dinner theatre, performing eight shows.  A special dessert matinee performance will take place on May 5th.  

Call 204-467-8348 or www.quarrychoristers.com for more information]]></EventDescription>
</Event>
<Event>
<EventID>126</EventID>
<StartDate>09 May, 2013</StartDate>
<StartTime>00:00</StartTime>
<EndDate>11 May, 2013</EndDate>
<EndTime>00:00</EndTime>
<EventTitle><![CDATA[Quarry Choristers Dinner Theatre]]></EventTitle>
<EventLocation><![CDATA[Quarry Park Heritage Arts Centre]]></EventLocation>
<EventDescription><![CDATA[Annual dinner theatre, performing eight shows.  A special dessert matinee performance will take place on May 5th.  ]]></EventDescription>
</Event>
</UpcomingEvents>
